.cart{
  .contentCart{
    display: flex;
    justify-content: space-between;
	margin-top: 15px;
  .CartProd{
    width: 53rem;
    background-color: white;
	padding: 8px;
	.title{
	  font-size: 20px;
	  display: block;
      margin-bottom: 8px;
	}
	.prod{
	  display: flex;
      flex: 1;
	  margin-top: 15px;
	  .imgProd{
	    flex: 0.15;
		.img{
		  width: 6rem;
          height: 5rem;
		}
	  }
	  .infProd{
	     flex: 0.5;
		 .nameProd{
		   font-size: 17px;
           font-weight: normal;
		   color: #171717;
		   cursor:pointer;
		   margin-bottom: 2px;
		   &:hover{
		     color: #ff7f00;
		   }
		 }
		 .seller{
		   display: block;
           color: #979696;
		   font-size: 15px;
		 }
		 .remaining{
		   color: #af7d15;
		   font-size: 14px;
		 }
		 .prg{
		   font-size: 13px;
           color: #958a8a;
           margin-top: 3px;
		 }
	  }
	  .price{
	    flex: 0.34;
		justify-content: flex-end;
        display: flex;
		font-size: 21px;
        font-weight: 500;
        color: #171717;
	  }
	}
	.Btns{
	  display: flex;
      align-items: center;
      justify-content: space-between;
	  margin-bottom: 12px;
	  .dlt{
	    .MuiButtonBase-root{
		  color: #ff7f00 !important;
		}
	  }
	  .quantity{
	    display: flex;
        align-items: center;
		.MuiButtonBase-root{
		   font-size: 20px !important;
		   min-width: 33px !important;
           padding: 0px 9px!important ;
		   background-color: #ff7f00 !important;
		   margin-right: 2px!important ;
           margin-left: 2px!important;
		}
		.itemQuant{
		   margin: 0 15px;
           font-size: 15px;
           font-weight: 500;
		}
	  }
	}
  }
  .resume{
    background-color: white;
	width: 18rem;
	padding: 8px;
	height: 16rem;
	.title{
	  font-size: 16px;
      font-weight: 500;
	  margin-bottom: 12px;
	}
	.amount{
	  display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
	  p{
	   font-size: 14px;
       color: #6c5e5e;
       margin-bottom: 6px;
	  }
	}
	.freeDvl{
	  color: #478118;
	  background-color:#f0f8e9;
	  font-size: 11px;
      padding: 3px 6px;
      margin: 5px 0;
	}
	.prg{
	  font-size: 12px;
	}
	.MuiButtonBase-root{
	  margin: 8px 0px !important;
      width: 100% !important;
      background-color: #ff7f00 !important;
	}
  }
  }
  .emptyBasket{
     background-color: white;
     text-align: center;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 padding: 25px;
	 .iconEmpty{
	   color: orange;
       font-size: 4rem;
	 }
	 .empty{
	   font-size: 19px;
       margin-bottom: 8px;
	 }
	 .emptyCatg{
	   font-size: 16px;
       font-weight: 600;
       margin-bottom: 16px;
	 }
	 .emptyBtn{
	   background-color: #ff7f00!important;
	   color: white!important;
	 }
  }
  
  
  .MuiBackdrop-root{
   background-color: rgba(0,0,0,0.2)!important;
}
  
  
  
}

.btnRemove{
		color:white!important;
		background-color:orange!important;
		width:100%;
		border:none!important;
		&:hover{
			background-color:#d07f2b!important;
		}
}
.MuiDialogTitle-root{
   display: flex!important;
   align-items: center!important;
   justify-content: space-between!important;
   svg{
    cursor:pointer!important;
   }
}


.dialog{
  .MuiSnackbar-root{
    top: 0px!important;
	width: 100vw!important;
	text-align:center!important;
  }
  .MuiPaper-root{
     background-color: green!important;
	 width: 100%!important;
	 display: flex!important;
     justify-content: center!important;
	 font-size: 15px!important;
	 font-weight: bold!important;
  }
}


@media only screen and (max-width: 1225px) {
  .cart .contentCart .CartProd {
    width: 70%;
  }
  .cart .contentCart .resume {
   width: 24%;
  }
}

@media only screen and (max-width: 810px) {
 .cart{
   .contentCart{
    flex-direction: column;
     .CartProd{
       width:auto;
	   margin-bottom: 14px;
     }
     .resume{
        width:auto;
      }
    }
	.prod{
	  infProd {
        margin-left: 6px;
      }
	}
   }
}