.promo{
  margin-top: 22px;
  direction: ltr;
  overflow: hidden;
  .headProd{
    background-color: #ff7f00;
    justify-content: center;
  }
  .bannerPub{
    display: flex;
    justify-content: space-between;
	  background-color: white;
	  margin-top: 8px;
	.img{
	  cursor:pointer;
	  width: 100% !important;
    height: 13rem !important;
	  &:hover{
        transform: scale(1.05,1.05);
        outline: none;
     }
     canvas{
      width: auto !important;
      position: inherit !important;
     }
	}
  }
}
@media only screen and (max-width: 810px) {
  .promo{
    .bannerPub{
      width: 100vw;
      overflow-x: scroll;
      overflow-y: hidden;
	  .img{
        width: 100vw !important;
        height: 20rem !important;
        margin-bottom: 6px !important;
	  }
   }
  }
}
@media only screen and (max-width: 500px) {
  .promo{
    .headProd{
      h6{
        font-size: 17px !important;
        font-family: initial;
      }
    }
    .bannerPub{
      width: 100vw;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-direction: row;
	  .img{
	    object-fit: contain !important;
      height: 13rem !important;
	  }
   }
  }
}