.promo{
  margin-top: 22px;
  .headProd{
    background-color: #ff7f00;
    justify-content: center;
  }
  .bannerPub{
    display: flex;
    justify-content: space-between;
	background-color: white;
	margin-top: 8px;
  }
}


