.header{
  .firstHeader{
      background-color:#ff7f00;
  .imgNav{
      height: 3.48rem;
  img{
     height: 100%;
     width: 100%;
    }
  }
  }
.LangHeader{
   background-color:whitesmoke;
   .gridHeader{
     height: 2rem;
	 display: flex;
     justify-content: space-between;
     align-items: center;
	.contGrid{
	  display: flex;
      justify-content: center;
      align-items: center;
	  .star{
	   width: 14px;
       height: 14px;
       background-color: #ff7f00;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
	   .iconStar{
	     color: white;
         font-size: 12px;
	   }
	  }
	  .text{
	    margin-left: 6px;
		font-weight: 600;
		color: #ff7f00;
	  }
	  .text:hover{
	   text-decoration: underline;
	   cursor:pointer;
	  }
	  .langs{
	    display: flex;
        justify-content: space-between;
        align-items: center;
		.lang:first-child{
		  margin-right:16px;
		}
	  .lang{
	    display: flex;
        justify-content: space-between;
        align-items: center;
		font-size: 1.05rem;
		color: #424141;
		cursor:pointer;
		&.active{
		  cursor: auto;
          opacity: 0.4;
		  .img{
		    cursor: text;
		  }
		}
		.img{
	       width: 18px;
           border-radius: 50%;
           height: 18px;
		   margin-right: 5px;
	    }
	   }
	  }
	}
   }
  
  
  }
.LastHeader{
   background-color: white;
   &.active{
     position: fixed;
     z-index: 100;
     width: 100%;
     top: 0%;
	 boxShadow: 0px 8px 6px -5px rgba(0,0,0,0.65);
     animation-name: scrollNav;
     animation-duration: .5s;
   }
   @keyframes scrollNav{
          0%{
            opacity: 0;
            transform: translateY(-40px);
          };
          100%{
            opacity: 1;
            transform: translateY(0);
          };
      };
   .contLast{
     display: flex;
     height: 5rem;
     align-items: center;
    .logo{
     width: 14rem;
	 display: flex;
     align-items: center;
	 .menu{
	  font-size: 27px;
      margin-right: 10px;
	  cursor:pointer;
	 }
	 .imglogo{
	   width: 66%;
	   margin-top: 5px;
	   .img{
	     width: 94%;
	   }
	 }
   }
   .fieldInput{
      width: 36rem;
	  .imput{
	    width: 28rem!important;
        margin-right: 1rem;
	  }
   }
   .contItem{
     flex: 1;
     display: flex;
     justify-content: space-between;
	 .item{
	  display: flex;
      align-items: center;
	  color: #282828;
	  font-size: 1rem;
	  cursor:pointer;
	  &:hover{
	    color: #ff7f00;
	  }
	  .iconItem{
	    font-size: 24px;
		margin-right: 4px;
		margin-bottom: 4px;
	  }
	  h6{
	    font-weight: 500;
        font-size: 1rem;
	  }
	  .MuiBadge-badge{
	    background-color: #ff7f00 !important;
	  }
	  .user{
	    margin-bottom: 6px;
	  }
	 }
	 .dropdown-menu {
       background: white;
       width: 220px;
       position: absolute;
       top: 100px;
       list-style: none;
       text-align: center;
       z-index: 100;
       box-shadow: 1px 1px 1px 1px #ccc;
       margin-left: -40px;
       padding: 0px 11px;
	   &.Navactive{
	      top:60px;
	   }
     }
     
    .dropdown-menu .MuiButtonBase-root {
      background-color: #ff7f00 !important;
      letter-spacing: 0px !important;
      font-size: 0.775rem !important;
      padding: 8px 12px !important;
      width: 80%!important;
      margin: 10px 0px;
    }
    .dropdown-menu .item {
      margin-top: 8px;
      padding: 5px 0px;
    }
   }
   
   }
   .Sidebar{
   transition:transform 0.6s;
   z-index: 100;
   position: relative;
   &.close{
	 transform: translate(-200%);
   }
   &.off{
	 transform: translate(100%);
   }
  .sidebar{
    position: fixed;
    margin-top: 55px;
    box-shadow: 0px 0px 9px 0px #ccc !important;
    height: 23rem;
	z-index: 1000;
   }
  }
   .search{
     display:none;
   }
}
.MuiButtonBase-root{
	background-color: #ff7f00!important;
	letter-spacing: 0px!important;
	font-size: 0.775rem !important;
	padding: 8px 12px !important;
}

.MuiFormControl-root{
	width: 26rem!important;
}
.MuiInputAdornment-root {
  font-size: 1.5rem !important;
}

}


@media only screen and (max-width: 1140px) {
  .header .LastHeader .contLast .contItem {
    justify-content: flex-end;
  }
  .header .LastHeader .contLast .contItem .item h6{
    display: none;
  }
  .header .LastHeader .contLast .contItem .dropdown-menu {
    margin-left: -155px;
  }
  .header .LastHeader .contLast .contItem .dropdown-menu .item h6{
    display: block;
  }
  .header .LastHeader .contLast .contItem .item .arrow {
    display: none;
  }
  .header .LastHeader .contLast .contItem .item{
    margin-left: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .header .MuiFormControl-root {
    width: 70% !important;
    margin-right: 1rem !important;
  }
  .header .search .MuiFormControl-root {
    margin-right: 0rem !important;
  }
  .header .LangHeader{
    display:none;
  }
  .header .LastHeader .contLast .contItem .dropdown-menu {
    top: 55px;
  }
}

@media only screen and (max-width: 810px) {
  .header{
   .firstHeader{
     .MuiContainer-root{
	   padding-left: 0px !important;
       padding-right: 0px !important;
	 }
     .imgNav {
       height: 4.48rem;
      }
    }
	.LangHeader{
	  display:none;
	}
	.LastHeader{
	 padding-bottom: 1px;
	  .logo{
	    .menu {
          display: block!important;
        }
	  }
	  .contLast{
	   height: 4rem;
	    .contItem{
		 justify-content: flex-end;
		 .item{
		  margin-left: 5px;
		   h6 {
            display:none;
          }
		  .arrow{
		    display:none;
		  }
		  &:nth-child(2){
		    display:none;
		  }
		 } 
		}
		.fieldInput{
		  display:none;
		}
		.contItem {
		.dropdown-menu {
          margin-left: -214px;
        }
		}
	  }
	  .search{
	    display:block;
		margin-bottom: 8px;
	    .MuiFormControl-root {
          width: 100% !important;
        }
		.MuiInputBase-root{
		  border-radius: 18px!important;
		}
	  }
	}
  }
 
}