.pub{
 .ListPub{
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 3rem;
  padding: 12px 2px;
  .listImg{
	  width: 100% !important;
    height: 10rem !important;
	  margin-bottom:4px !important;
    border-radius: 30% !important;
    canvas{
      border-radius: 30% !important;
    }
   }
 }
}


@media only screen and (max-width: 1000px) {
.pub .ListPub{
  grid-template-columns: 18% 18% 18% 18%;
  .listImg{
    height: 9rem !important;
  }
}
}
@media only screen and (max-width: 720px) {
  .pub .ListPub{
    .listImg{
      height: 7rem !important;
    }
  }
}
@media only screen and (max-width: 410px) {
  .pub{
    display:none;
  }
}