.pub{
 .ListPub{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 3rem;
  padding: 12px 2px;
  .listImg{
	  width: 11rem;
	  margin-bottom:4px;
   }
 }
}


@media only screen and (max-width: 1000px) {
.pub .ListPub .listImg {
  width: 8rem;
}
}
@media only screen and (max-width: 810px) {
  .pub .ListPub{
    margin-top: 0;
  }
  .pub .ListPub .listImg {
    width: 21%;
  }
}
@media only screen and (max-width: 410px) {
  .pub{
    display:none;
  }
}