.main{
  height: 23rem;
  margin-top: 20px;
 .contMain{
    display: flex;
    justify-content: space-between;
	.info{
	  .card{
	    display: flex;
        justify-content: center;
        flex-direction: column;
		background-color: white;
		margin-bottom: 13px;
		border-radius: 5px;
		padding: 4px;
		.itemCard{
		  display: flex;
		  align-items: center;
		  padding-left: 10px;
		  cursor:pointer;
		  img{
		    width: 36px;
            height: 36px;
		  }
		  h4{
		    margin-left: 11px;
            font-size: 15px;
            font-weight: 600;
			color: #484848;
		  }
		} 
	  }
	  .blackFrd{
	    border-radius: 5px;
		overflow: hidden;
	  }
	}
 }
}

@media only screen and (max-width: 1230px) {
  .main{
    
	.info{
	  display: none;
	}
	.banner {
     width: 75vw;
	 height: 24rem;
	  .listImg{
	     width: 100%;
		 height: 100%;
	  }
	 .swiper{
	   height: 100%!important;
	 }
    }
  }
}
@media only screen and (max-width: 1110px) {
  .main{
    
	.info{
	  display: none;
	}
	.sidebar{
	  display: none;
	}
	.banner {
     width: 100%;
	 height: 24rem;
	  .listImg{
	     width: 100%;
		 height: 100%;
	  }
	 .swiper{
	   height: 100%!important;
	 }
    }
  }
}


@media only screen and (max-width: 810px) {

  .main{
    .sidebar{
	  display: none;
	}
	.info{
	  display: none;
	}
	.banner {
     width: 100%;
	 height: 22rem;
	  .listImg{
	     width: 100%;
		 height: 100%;
	  }
	 .swiper{
	   height: 100%!important;
	 }
    }
  }

}
@media only screen and (max-width: 610px) {
	.main{
		height: 21rem;
		.banner{
			height: 20rem;
		}
	}
}
@media only screen and (max-width: 410px) {
  .main{
   height: 17rem;
   .banner {
     height: 17rem;
  }
  }
}