.fashion{
  .headProd{
	background-color: #ff7f00;
    justify-content: center;
  }
  .fashionImg{
   margin-top: 8px;
   .img{
	  cursor:pointer;
	  margin-bottom: 8px;
	  width:100%;
	  &:hover{
        transform: scale(1.01,1.01);
        outline: none;
     }
	}
  }
}

@media only screen and (max-width: 500px) {
  .fashion{
    display: none;
  }
}