.footer{
  background-color: #000;
  margin-top: 45px;
  overflow: hidden;
  padding-top: 10px;
  .ContFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .imgLogo{
  width:10rem;
	margin-top: -60px;
	flex: 0.15;
  }
  .secondGrid{
    flex: 0.65;
  .InscText{
	  color: #bdb6b6;
	  margin-top: -3rem;
    margin-bottom: 10px;
	  h5{
	    color: white;
      margin-bottom: 8px;
	  }
	}
	.inputFooter{
	 display:flex;
	  .input{
	    background-color: white!important;
      }
	  .MuiTextField-root{
	    background-color: white;
      }
      .MuiFormControl-root {
         width: 16rem !important;
       }
	}
  }
  .lastGrid{
    margin-top: 10px;
   .poche{
     display: flex;
	 align-items: center;
     color: white;
	 margin-bottom: 6px;
	 .mark{
     width: 3rem;
     }
    .pocheText{
	   margin-left: 10px;
     display: flex;
     flex-direction: column;
  	 color: #bdb6b6;
	 .text{
	   margin-bottom: 12px;
	   color: white;
	 }
	}
   
   }
   .imgSvg{
	  width: 7.5rem;
	  margin-top: -35px;
	}
  }
  .langs{
	    display: none;
        justify-content: space-between;
        align-items: center;
		width: 97%;
        margin-top: -35px;
        margin-bottom: 5px;
		
	  .lang{
	    display: flex;
      justify-content: center;
      align-items: center;
		  font-size: 1.2rem;
		  color: #424141;
		    cursor:pointer;
		    flex: 0.5;
		    border: 1px solid #ccc;
        padding: 8px;
		    &.active{
		    cursor: auto;
          opacity: 0.5;
		    .img{
		      cursor: text;
		    }
		}
		.img{
	       width: 18px;
         border-radius: 50%;
         height: 18px;
		     margin-right: 5px;
	    }
	   }
	  }
  }
  .MuiInputAdornment-root {
    font-size: 1.5rem !important;
    color: rgba(111, 105, 105, 0.54);
  }
  .MuiButtonBase-root{
	  background-color: transparent !important;
    letter-spacing: 0px !important;
    font-size: 0.775rem !important;
    padding: 8px 18px !important;
    color: white!important ;
    border: 0.7px solid white !important;
  }
  .MuiButtonBase-root{
	  background-color: transparent !important;
    letter-spacing: 0px !important;
    font-size: 0.775rem !important;
    padding: 8px 18px !important;
    color: white!important ;
    border: 0.7px solid white !important;
}
.MuiButtonBase-root:hover{
  border: 0.7px solid orange !important;
	color: orange!important ;
}
.MuiFormControl-root{
	width: 17rem!important;
	background-color: white!important;
	border-radius: 4px!important;
}
.MuiOutlinedInput-root{
	height: 50px!important;
}
.MuiOutlinedInput-root:focus{
	border: 1px solid red!important;
}
}




@media only screen and (max-width: 1000px) {
.footer{
  direction: ltr;
  .ContFooter{
     flex-direction: column;
	 padding: 10px;
	 width: 100%;
	 .secondGrid{
	   display: none;
	 }
	 .lastGrid{
	   display: none;
	 }
	 .langs{
	   display: flex;
	 }
  }
  }
}



