.app{
	font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
	
}

.headProd{
      display: flex;
      justify-content: space-between;
      align-items: center;
	    color:white;
	    padding: 4px;
      
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
}
.headProd h6{
  font-size: 19px !important;
}
.MuiDialogTitle-root + .MuiDialogContent-root {
  overflow: hidden !important;
}
.titleDial{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
 }
 .arb{
     direction: rtl;
   }
   
.MuiButton-startIcon{
	margin-left: 4px!important;
}
[dir="ltr"].MuiButton-startIcon{
	font-size:1.1rem!important;
}
.MuiInputBase-root{
  direction: initial;
}

.listSkelton{
	display: flex;
  align-items: center;
  flex-wrap: wrap;
    .productSkelton{
	  width: 11.595rem;
      height: 14rem;
      border: 3px solid transparent;
      margin-top: 12px;
      margin-bottom: 12px;
    }
}

@media (min-width: 1200px){
.MuiContainer-root {
  max-width: 1235px!important;
}
}


 
@media only screen and (max-width: 810px) {
	 .MuiContainer-root{
		padding-left: 8px !important;
        padding-right: 8px !important;
		 
	 }
	 
 }