body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  overflow-x: hidden;
}
h6{
	margin:0;
}
a{
	text-decoration: none;
    color: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #f77f00;
  animation: spinner 1s infinite linear;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%);
}

@keyframes spinner {
  to {
     transform:translate(-50%) rotate(1turn);
  }
}