.offer{
   margin-top: 20px;
   margin-bottom: 20px;
   direction: ltr;
   overflow: hidden;
  .headProd{
	  background-color: #ff7f00;
    justify-content: center;
  }
  .offerbanner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	  background-color: white;
	  padding-bottom: 10px;
    margin-top: 8px;
    padding-top: 10px;
	.img{
	  cursor:pointer;
	  margin-bottom: 8px;
    width: 48% !important;
    height: 12rem !important;
	  &:hover{
        transform: scale(1.01,1.01);
        outline: none;
     }
	}
  }
}



@media only screen and (max-width: 810px) {
  .offer{
    .offerbanner{
      width: 100vw;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: inherit;
      justify-content: flex-start;
     .img {
       width: 100vw !important;
       height: 15rem !important;
     }
    }
  }
}
@media only screen and (max-width: 500px) {
  .offer{
    .headProd{
      h6{
        font-size: 17px !important;
        font-family: initial;
      }
    }
  }
}